In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [41]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1572,tt0338526,160000000,300257475,Van Helsing,Hugh Jackman|Kate Beckinsale|Richard Roxburgh|...,Stephen Sommers,The One Name They All Fear.,Famed monster slayer Gabriel Van Helsing is di...,132,Horror|Adventure|Action,Universal Pictures|Stillking Films|Sommers Com...,5/5/2004,5.9,2004
509,tt0252866,30000000,287553595,American Pie 2,Jason Biggs|Thomas Ian Nicholas|Chris Klein|Se...,J.B. Rogers,This Summer It's All About Sticking Together.,The whole gang are back and as close as ever. ...,108,Comedy|Romance,Universal Pictures|Liveplanet|Zide-Perry Produ...,8/10/2001,5.9,2001
472,tt1212419,50000000,105197635,Hereafter,Matt Damon|Bryce Dallas Howard|George McLaren|...,Clint Eastwood,Touched by death. Changed by life.,A supernatural thriller centered on three peop...,129,Drama|Fantasy,Amblin Entertainment|Malpaso Productions|Warne...,10/15/2010,5.5,2010
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013
851,tt1596343,125000000,626137675,Fast Five,Vin Diesel|Paul Walker|Dwayne Johnson|Jordana ...,Justin Lin,Get the Fifth Gear.,Former cop Brian O'Conner partners with ex-con...,130,Action|Thriller|Crime,Universal Pictures|Original Film|One Race Prod...,4/20/2011,7.1,2011

In [564]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
answers['2'] = '2. Gods and Generals (tt0279111)' # +
answers['3'] = '3. Winnie the Pooh (tt1449283)' # +
answers['4'] = '2. 110' # +
answers['5'] = '1. 107' # +
answers['6'] = '5. Avatar (tt0499549)' # +
answers['7'] = '5. The Lone Ranger (tt1210819)' # +
answers['8'] = '1. 1478' # +
answers['9'] = '4. The Dark Knight (tt0468569)' # +
answers['10'] = '5. The Lone Ranger (tt1210819)' # +
answers['11'] = '3. Drama' # +
answers['12'] = '1. Drama' # +
answers['13'] = '5. Peter Jackson' # +
answers['14'] = '3. Robert Rodriguez' # +
answers['15'] = '3. Chris Hemsworth' # +
answers['16'] = '3. Matt Damon' # +
answers['17'] = '2. Action' # +
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' # +
answers['19'] = '5. 2015' # +
answers['20'] = '1. 2014'# +
answers['21'] = '4. September'# +
answers['22'] = '2. 450'# +
answers['23'] = '5. Peter Jackson'# +
answers['24'] = '5. Four By Two Productions'# +
answers['25'] = '3. Midnight Picture Show'# +
answers['26'] = ''# +
answers['27'] = '5. Daniel Radcliffe, Rupert Grint' # +

# Предобработка

In [42]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget']  #получаем столбец profit для решения заданий в дальнейшем
# тут другие ваши предобработки колонок например:
full_genres_list = [] # task 11. вариант 2. создаем цикл, который создает список всех жанров в датафрейме
for g in data.genres:
    if g.find('|') >= 0:
        for i in g.split('|'):
            full_genres_list.append(i)
    else:
        full_genres_list.append(g)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [53]:
most_budget = data.query('budget == budget.max()').copy()

most_budget[most_budget['budget'] == most_budget['budget'].max()].original_title #название фильма с самым большим бюджетом
most_budget[most_budget['budget'] == most_budget['budget'].max()].imdb_id #определяем imdb_id фильма с самым большим бюджетом

723    tt1298650
Name: imdb_id, dtype: object

ВАРИАНТ 2

In [54]:
most_budget.query('budget == budget.max()') #определяем фильм с самым большим бюджетом

most_budget.original_title
most_budget.imdb_id

723    tt1298650
Name: imdb_id, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [608]:
longest_film = data.copy()
longest_film[longest_film['runtime'] == longest_film['runtime'].max()].imdb_id #imdb_id самого продолжительного фильма

1157    tt0279111
Name: imdb_id, dtype: object

In [567]:
longest_film[longest_film['runtime'] == longest_film['runtime'].max()].original_title #название самого продолжительного фильма

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [569]:
shortest_film = data.copy()
shortest_film[shortest_film['runtime'] == shortest_film['runtime'].min()].original_title #название самого короткого фильма
shortest_film[shortest_film['runtime'] == shortest_film['runtime'].min()].imdb_id #imdb_id самого короткого фильма

768    tt1449283
Name: imdb_id, dtype: object

# 4. Какова средняя длительность фильмов?

In [609]:
average_len = data.copy()

round(average_len.runtime.mean()) #определяем среднюю длительность фильмов в датафрейме и округляем значение

110

# 5. Каково медианное значение длительности фильмов?

In [572]:
median_len = data.copy()

median_len.runtime.median() #определяем медианное значение длительности фильмов

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [58]:
most_profit = data.query('profit == profit.max()').copy()

most_profit.original_title #определяем название самого прибыльного фильма
most_profit.imdb_id #определяем imdb_id самого прибыльного фильма

239    tt0499549
Name: imdb_id, dtype: object

# 7. Какой фильм самый убыточный?

In [61]:
most_unprofit = data.query('profit == profit.min()').copy()

most_unprofit.original_title #название самого убыточного фильма
most_unprofit.imdb_id #imdb_id самого убыточного фильма

1245    tt1210819
Name: imdb_id, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [65]:
profit_films = data.query('revenue > budget').copy()
profit_films.info() #определяем количество прибыльных фильмов с помощью info()
                    #также возможно определние количества прибыльных фильмов с помощью describe() и count()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1478 entries, 0 to 1884
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1478 non-null   object
 1   budget                1478 non-null   int64
 2   revenue               1478 non-null   int64
 3   original_title        1478 non-null   object
 4   cast                  1478 non-null   object
 5   director              1478 non-null   object
 6   tagline               1478 non-null   object
 7   overview              1478 non-null   object
 8   runtime               1478 non-null   int64
 9   genres                1478 non-null   object
 10  production_companies  1478 non-null   object
 11  release_date          1478 non-null   object
 12  vote_average          1478 non-null   float64
 13  release_year          1478 non-null   int64
 14  profit                1478 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 184.8+ KB

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [66]:
films_2008 = data[data['release_year'] == 2008].copy()

films_2008[films_2008['revenue'] == films_2008['revenue'].max()].original_title #название самого кассового фильма в 2008
films_2008[films_2008['revenue'] == films_2008['revenue'].max()].imdb_id #imdb_id самого кассового фильма в 2008

599    tt0468569
Name: imdb_id, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [67]:
small_data = data.query('budget > revenue').copy()

small_data = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)] #создаем фильтр для фильмов,
                                                                                    #вышедших с 2012 по 2014 г. (включительно)

small_data[small_data['profit'] == small_data['profit'].min()].original_title #название самого убыточного фильма (2012-2014)
small_data[small_data['profit'] == small_data['profit'].min()].imdb_id #imdb_id самого убыточного фильма (2012-2014)

1245    tt1210819
Name: imdb_id, dtype: object

# 11. Какого жанра фильмов больше всего?

In [45]:
most_genres = data.copy()

most_genres['genres'] = most_genres.genres.str.split('|') #разделяем все жанры в рамках каждого фильма
most_genres = most_genres.explode('genres')               #для выяснения наиболее частого повторяемого жанра

most_genres.genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [618]:
pd.Series(full_genres_list).value_counts() #создаем серию из всех перечисленных жанров с помощью 
                                           #списка, созданного из цикла в Предобработке

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [622]:
most_profit_genres = data.query('revenue > budget').copy() #создаем копию датафрейма с фильтром для прибыльных фильмов

most_profit_genres['genres'] = most_profit_genres.genres.str.split('|') #разделяем все жанры в рамках каждого фильма
most_profit_genres = most_profit_genres.explode('genres')

profit_genre = most_profit_genres.genres.value_counts().index[0] #подсчитываем количество прибыльных фильмов каждого жанра
profit_genre                                                     #и выбираем самый прибыльный жанр

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [68]:
directors_revenue = data.copy()
directors_revenue.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0] #суммируем кассовые сборы всех
                                           #режиссеров и выбираем первого в списке режиссера

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [69]:
action_director = data.copy()

action_director['genres'] = action_director.genres.str.split('|') #разделяем все жанры в рамках каждого фильма
action_director = action_director.explode('genres')

action_director['director'] = action_director.director.str.split('|') #разделяем всеx режиссеров в рамках каждого фильма
action_director = action_director.explode('director')

action_director[action_director['genres'] == 'Action'].director.value_counts().sort_values(ascending=False).index[0] #фильтруем 
                                                                            #по жанру Экшн и считаем режиссеров в этом жанра

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [70]:
most_revenue_actors = data.query('release_year == 2012').copy() #копируем датафрейм с фильтром на фильмы 2012 года

most_revenue_actors['cast'] = most_revenue_actors.cast.str.split('|') #разделяем состав актеров на отдельных актеров
most_revenue_actors = most_revenue_actors.explode('cast')             

most_revenue_actors.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0] #группируем данные по каждому 
                      #актеру и суммарной выручке, которую получил фильм с их участием, и выбираем первого в списке актера

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [71]:
bigbudget_films = data.query('budget > budget.mean()').copy() #создаем копию датафрейма 
                                                              #и оставляем только высокобюджетные фильмы (бюджет выше среднего)

bigbudget_films['cast'] = bigbudget_films.cast.str.split('|') #разделяем состав актеров на отдельных актеров
bigbudget_films = bigbudget_films.explode('cast')

bigbudget_films.cast.value_counts().index[0] #посчитываем количество фильмов, в которых снялись актеры,
                                             #и выбираем первого актера из списка

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [10]:
Cage_genres = data.copy()

Cage_genres['cast'] = Cage_genres.cast.str.split('|') #делим составы актеров на отдельных актеров
Cage_genres = Cage_genres.explode('cast')

Cage_genres['genres'] = Cage_genres.genres.str.split('|') #делим жанры в каждом фильме
Cage_genres = Cage_genres.explode('genres')

Cage_genres[Cage_genres['cast'] == 'Nicolas Cage'].genres.value_counts().sort_values(ascending=False).index[0] #выявляем все жанры,
                                #в которых снимлся Николас Кейдж и делаем подсчет, после чего выбираем вариант первый из списка

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [73]:
most_unprofitable = data.copy()

most_unprofitable['production_companies'] = most_unprofitable.production_companies.str.split('|') #делим все студии в каждом 
most_unprofitable = most_unprofitable.explode('production_companies')                             #фильме по отдельным строкам

most_unprofitable = most_unprofitable[most_unprofitable['production_companies'] == 'Paramount Pictures'] #фильтруем датафрейм
                                                                                                         #по нужной студии

most_unprofitable[most_unprofitable['profit'] == most_unprofitable['profit'].min()].original_title #выводим название фильма
most_unprofitable[most_unprofitable['profit'] == most_unprofitable['profit'].min()].imdb_id #выводим imbd фильма

925    tt0267626
Name: imdb_id, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [23]:
profitable_year = data.copy()

profitable_year.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0] #группируем данные датафрейм
                                                                    #по годам и выручке,а после отображаем первый год в списке

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [24]:
profitable_WB_year = data.copy()

profitable_WB_year['production_companies'] = profitable_WB_year.production_companies.str.split('|') #делим все студии в каждом
profitable_WB_year = profitable_WB_year.explode('production_companies')                             #фильме по отдельным строкам

profitable_WB_year = profitable_WB_year[profitable_WB_year.production_companies.str.contains('Warner Bros')] #фильтруем 
                                                                                        #датафрейм по всем компаниям Warner Bros
profitable_WB_year.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0] #находим самый прибыльный год

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [31]:
release_record = data.copy()

release_record['release_date'] = pd.to_datetime(release_record.release_date) #меняем формат даты релиза
release_record['release_month'] = release_record['release_date'].dt.month #создаем отдельную колонку для месяца релиза

release_record.groupby(['release_month'])['original_title'].count().sort_values(ascending=False).index[0] #находим 
                                                                                                    #рекордсмена среди месяцев

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [35]:
summer_release = data.copy()

summer_release['release_date'] = pd.to_datetime(summer_release.release_date) #меняем формат даты релиза
summer_release['release_month'] = summer_release['release_date'].dt.month #создаем отдельную колонку для месяца релиза
summer_release = summer_release[summer_release.release_month.isin([6,7,8])] #фильтруем датафрейм по летним месяцам

summer_release = summer_release.groupby(['release_month'])['original_title'].count().sort_values(ascending=False) #считаем
                                                                                        #количество фильмов в каждом месяце лета
summer_release.sum() #считаем общее количество фильмов выпущенных летом

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [430]:
winter_director = data.copy()

winter_director['director'] = winter_director.director.str.split('|') #делим режиссеров в каждом фильме по отдельности
winter_director = winter_director.explode('director')

winter_director['release_date'] = pd.to_datetime(winter_director.release_date) #меняем формат даты релиза
winter_director['release_month'] = winter_director['release_date'].dt.month #создаем отдельную колонку для месяца релиза
winter_director = winter_director[winter_director.release_month.isin([12,1,2])] #фильтруем датафрейм по зимним месяцам

winter_director.groupby(['director'])['original_title'].count().sort_values(ascending=False).index[0] #получаем режиссера

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [36]:
longest_titles = data.copy()

longest_titles['production_companies'] = longest_titles.production_companies.str.split('|') #делим студии в каждом фильме
longest_titles = longest_titles.explode('production_companies')                             #по отдельности

longest_titles['len_of_title'] = longest_titles['original_title'].str.len() #создаем колонку, где указана длина названий фильмов

longest_titles.groupby(['production_companies'])['len_of_title'].mean().sort_values(ascending=False).index[0] #выбираем студию 
                                                                                                    #по средней длине названий

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [37]:
longest_overview = data.copy()

longest_overview['production_companies'] = longest_overview.production_companies.str.split('|') #делим студии в каждом фильме
longest_overview = longest_overview.explode('production_companies')                             #по отдельности

longest_overview['len_overview'] = longest_overview['overview'].str.len() #создаем колонку, где указана длина описаний фильмов

longest_overview.groupby(['production_companies'])['len_overview'].mean().sort_values(ascending=False).index[0] #выбираем студию 
                                                                                                    #по средней длине описаний

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [559]:
best_films = data.copy()

bf = best_films[best_films['vote_average'] > best_films['vote_average'].quantile(q=0.99)] #определяем 1% лучших фильмов
best_film = [] #создаем список для лучших фильмов
for film in bf.original_title: #создаем цикл для добавления всех лучших фильмов в список
    best_film.append(film)



answers['26'] = best_film #добавляем список в ответ к 26 заданию

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [560]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. September',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': ['Inside Out',
  'Room',
  'Interstellar',
  'Guardians of the Galaxy',
  'The Imitation Game',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'Inception',
  'The Dark Knight',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  '12 Years a Slave',
  'Memento'],
 '27': '5. Daniel Radcliffe, Rupert Grint'}

In [561]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [38]:
import itertools as it #добавляем новый сборник
best_cast = data.copy()

best_cast['cast'] = best_cast.cast.str.split('|').apply(lambda pair: list(it.combinations(pair,2))) #делим всех актеров на пары
pairs = best_cast.explode('cast')                                                                   #по каждому фильму



pairs.cast.value_counts().head() #считаем количество повторения каждой из пар и выбираем наиболее часто повторяемую для ответа

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
Name: cast, dtype: int64